[submodule "website"]
	path = website
	url = https://github.com/danxliu/website.git
[submodule "discord"]
	path = discord
	url = git@github.com:danxliu/discord.git
[submodule "chat"]
	path = chat
	url = git@github.com:danxliu/chat.git
